# Assignment 2 Data Analysis using Pandas

This assignment will contain 11 questions with details as below. The due date is March 13 (Monday), 2023 23:59PM. Each late day will result in 20% loss of total points.

## Project Description

In the health care industry, doctors often work in cooperation to provide the best possible care to patients. When a patient needs specialized care, their primary care doctor will refer them to a specialist. The referral network between doctors plays a crucial role in ensuring that patients receive the appropriate care and treatment. 

In this assignment, you will be working with **two datasets**: 
- one containing **doctor profile information**, and 
- one containing **referral information between pairs of doctors**. 

Your task is to use Pandas and Numpy to manipulate the data and answer questions. In summary, it involves to apply some basic data manipulation operations, combine the information from these two datasets, extract the bipartite graph from the referral network consisting of primary care doctors and specialists, and perform descriptive analysis. 

In the literature, analyzing the referral mechanism in health care can lead to a better understanding of patient outcomes, provider performance, and cost-effectiveness, which can be applied to other areas of healthcare or other industries as well. Think about how to extract meaningful insights from complex datasets, identify trends and patterns, and make data-driven decisions that can improve efficiency and effectiveness within a business or organization.

## Background and Clinic Domain Knowledge

The National Provider Identifier (NPI) is a unique identification number assigned to health care providers by the Centers for Medicare & Medicaid Services (CMS) in the United States. The NPI allows health care providers to be 
identified and tracked in a standardized way across the health care industry.


In addition to the NPI, doctors have specialties specified in the taxonomy code, which indicate the area of medicine they specialize in. Doctors also have a practice location, which includes their address, city, state, and postal code. This information is contained in the first dataset **```npidata_US_statecode.csv```**. The dataset is downloaded from the website [NPI files](https://download.cms.gov/nppes/NPI_Files.html) and more description can be found in [Data Dissemination – Code Values (NPPES)](https://www.cms.gov/Regulations-and-Guidance/Administrative-Simplification/NationalProvIdentStand/Downloads/Data_Dissemination_File-Code_Values.pdf). The column names and descriptions of this dataset are listed as follows:

- ```NPI```: National Provider Identifier, a unique identification number assigned to healthcare providers in the United States.
- ```Provider Gender Code```: Gender of the healthcare provider.
- ```Certification Date```: The date when the healthcare provider received certification in their field of practice.
- ```Provider Enumeration Date```: The date when the healthcare provider was assigned their NPI.
- ```Entity Type Code```: The type of healthcare entity associated with the provider, such as an individual (Entity Type Code = 1) or organization (Entity Type Code = 2).
- ```Provider Last Name (Legal Name)```: The last name of the healthcare provider as registered with the National Plan and Provider Enumeration System (NPPES).
- ```Provider First Name```: The first name of the healthcare provider as registered with the NPPES.
- ```Provider First Line Business Practice Location Address```: The first line of the healthcare provider's practice address.
- ```Provider Business Practice Location Address Postal Code```: The zip code of the healthcare provider's practice location.
- ```Provider Business Practice Location Address State Name```: The state in which the healthcare provider's practice is located.
- ```Provider Business Practice Location Address City Name```: The city in which the healthcare provider's practice is located.
- ```Provider License Number State Code_1```: The state code for the healthcare provider's license.
- ```Healthcare Provider Taxonomy Code_1```: The taxonomy code for the healthcare provider's specialty.
- ```Provider License Number_1```: The healthcare provider's license number.
- ```Healthcare Provider Taxonomy Group_1```: The group of taxonomy codes to which the healthcare provider's taxonomy code belongs.
- ```Is Sole Proprietor```: A indicator of whether the healthcare provider is a sole proprietor.
- ```Is Organization Subpart```: A indicator of whether the healthcare provider is a subpart of an organization.


Referral information between pairs of doctors includes the NPI of the referring doctor, the NPI of the referred doctor, and the number of referrals between the two doctors. The referrals in 2015 under 30-day interval are summarized in the second dataset **```referral_fromPrimary.xlsx```**. More description can be found in [physician shared patient patterns technical requirements](https://downloads.cms.gov/foia/physician_shared_patient_patterns_technical_requirements.pdf). The column names and descriptions of this dataset are listed as follows:


- ```NPI Number1```: The National Provider Identifier of the referring healthcare provider.
- ```NPI Number2```: The National Provider Identifier of the healthcare provider being referred to.
- ```Pair Count```: The number of times the referring healthcare provider has referred patients to the healthcare provider being referred to.
- ```Bene Count```: The number of beneficiaries referred by the referring healthcare provider to the healthcare provider being referred to.
- ```Same Day Count```: The number of times the referring healthcare provider has referred patients to the healthcare provider being referred to on the same day.

**Note**: Please download these two types of datasets "npidata_US_statecode.csv" and "referral.xlsx" from moodle to your local path for performing the analysis, as some modification on the original data was done to suit the needs for this assignment.

In [1]:
import pandas as pd
import numpy as np

## Question 1 (10 points)

To get started with the assignment, 

- Run the code provided below with the input of the **last digit of your student number**, in order to to determine which state's dataset you should work with. **Note that, the code has an error and you need to modify it.** Check the hints from the printed information and error type!

- **Use the corresponding state's dataset for the subsequent tasks**, loading the data with Pandas using the file name ```npidata_US_[state code].csv``` to begin analyzing the data. For example, if your student number ends with '0', the output will refer to 'AL', indicating you should work with Alabama's dataset, and you need to load ```npidata_US_AL.csv``` from your local path into this jupyter notebook.

- Print the column names, the shape, and the first 10 rows of the dataset.

In [2]:
last_digit_studentID = int(input())
# last_digit_studentID = int("53895"[-1])
print(type(last_digit_studentID))

state_dict = dict(zip(range(10), ['AL','AZ','FL','GA', 'IL','LA', 'NY', 'OH', 'TX','WV']))
print('The state code in your case is: ' + state_dict[last_digit_studentID])

<class 'int'>
The state code in your case is: LA

In [3]:
state_code = state_dict[last_digit_studentID]

df = pd.read_csv(f'data/npidata_US_{state_code}.csv', index_col=0)
print('Column names:', df.columns)
print('Shape:', df.shape)

print("First 10 rows:")
df.head(10)

Column names: Index(['NPI', 'Provider Gender Code', 'Certification Date',
       'Provider Enumeration Date', 'Entity Type Code',
       'Provider Last Name (Legal Name)', 'Provider First Name',
       'Provider First Line Business Practice Location Address',
       'Provider Business Practice Location Address Postal Code',
       'Provider Business Practice Location Address State Name',
       'Provider Business Practice Location Address City Name',
       'Provider License Number State Code_1',
       'Healthcare Provider Taxonomy Code_1', 'Provider License Number_1',
       'Healthcare Provider Taxonomy Group_1', 'Is Sole Proprietor',
       'Is Organization Subpart'],
      dtype='object')
Shape: (14667, 17)
First 10 rows:

           NPI Provider Gender Code  ... Is Sole Proprietor Is Organization Subpart
0   1184627986                    M  ...                  N                     NaN
3   1861495665                    M  ...                  N                     NaN
7   1972506095                    M  ...                  X                     NaN
12  1790789535                    F  ...                  X                     NaN
15  1184628968                    F  ...                  X                     NaN
17  1487658274                    M  ...                  N                     NaN
20  1487658159                    F  ...                  X                     NaN
21  1437153103                    M  ...                  X                     NaN
24  1053315408                    M  ...                  X                     NaN
25  1750385118                    M  ...                  X                     NaN

[10 rows x 17 columns]

## Question 2  (10 points)

Meanwhile, the data contains a few errors that need to be resolved:

1. Rename the column ```Provider Last Name (Legal Name)``` as ```Provider Last Name```.

2. Check the distribution of ```Entity Type Code```. 
    - How many are in the type of 'Individual' and how many are in the type of 'Organization'? Hint: print this information using ```value_counts()``` function. 
    - Remove those rows where the entity type is 'Organization', as the organizations are beyond our scope of analysis.

3. Print the percentage of missing values contained in the column ```Healthcare Provider Taxonomy Group_1```. If it is more than 80%, delete the entire column.

4. reset the index of the dataset after the adjustment, and drop the original index.

In [4]:
# 1. Rename the column ```Provider Last Name (Legal Name)``` as ```Provider Last Name```.
clean_df = df.rename(
    columns={
        'Provider Last Name (Legal Name)': 'Provider Last Name'
    }
)

In [5]:
# 2. Check the distribution of ```Entity Type Code```. 
value_counts = clean_df['Entity Type Code'].value_counts()
individual_count = value_counts.iloc[0]
organization_count = value_counts.iloc[1]
print(f"There are {individual_count} of type individual in the 'Entity Type Code' column.")
print(f"There are {organization_count} of type organization in the 'Entity Type Code' column.")

There are 12872 of type individual in the 'Entity Type Code' column.
There are 1795 of type organization in the 'Entity Type Code' column.

In [6]:
# Remove those rows where the entity type is 'Organization'
clean_df = clean_df[clean_df['Entity Type Code']!=2]

In [7]:
# 3. Print the percentage of missing values contained in the column ```Healthcare Provider Taxonomy Group_1```. If it is more than 80%, delete the entire column.

missing_count = sum(pd.isna(clean_df['Healthcare Provider Taxonomy Group_1']))
percentage = (missing_count/clean_df.shape[0]) * 100

if percentage >= 80:
    print(f"Percentage ({percentage:.2f}) is greater than 80%, deleting the entire column...")
    clean_df = clean_df.drop(columns=['Healthcare Provider Taxonomy Group_1'])

Percentage (98.90) is greater than 80%, deleting the entire column...

In [8]:
# 4. reset the index of the dataset after the adjustment, and drop the original index.
clean_df = clean_df.reset_index(drop=True)
clean_df

              NPI  ... Is Organization Subpart
0      1184627986  ...                     NaN
1      1861495665  ...                     NaN
2      1972506095  ...                     NaN
3      1790789535  ...                     NaN
4      1184628968  ...                     NaN
...           ...  ...                     ...
12867  1477730026  ...                     NaN
12868  1992038293  ...                     NaN
12869  1306378716  ...                     NaN
12870  1184711194  ...                     NaN
12871  1831196617  ...                     NaN

[12872 rows x 16 columns]

## Question 3  (5 points)


Now create a subset of NPIs whose ```Provider Business Practice Location Address State Name``` is in the state assigned to you, and convert the postal code into integer type. In this subset, which postal code in the column ```Provider Business Practice Location Address Postal Code``` has the highest number of the NPIs? Print this postal code.

Hint: If you encounter the ```ValueError: invalid literal for int() with base 10```, learn from [this stackoverflow page](https://stackoverflow.com/questions/1841565/valueerror-invalid-literal-for-int-with-base-10). The Debugging skill is one of the fundamental skills of data scientists!

In [9]:
# replace 'YOUR_STATE_NAME' with the name of the state assigned to you
clean_df = clean_df[clean_df['Provider Business Practice Location Address State Name'] == state_code].copy()

# convert postal code to integer type
clean_df['Provider Business Practice Location Address Postal Code'] = clean_df['Provider Business Practice Location Address Postal Code'].astype(float).astype(int)

# group by postal code and count the number of NPIs
postal_code_count = clean_df.groupby('Provider Business Practice Location Address Postal Code').size()

# find the postal code with the highest number of NPIs
max_postal_code = postal_code_count.max()

# print the postal code with the highest number of NPIs
print(max_postal_code)

398

## Question 4  (15 points)


Let's take a closer look at the ```Is Sole Proprietor``` column. First you need to fill the missing values with the string 'MISSING' if missing values exist in the column of your dataset. Then you are asked to create a new column 'Is Sole Proprietor (long)' that map the values in the 'Is Sole Proprietor' column to corresponding descriptions in the 'Code2Description' dictionary (the dictionary is defined and shown below in the 'Code' mode). 

In this question, you should use two different methods ('map' and 'for' loop) to achieve this purpose:

-  use the map() function and lambda expression to create a new column 'Is Sole Proprietor (long)' with the 'Code2Description' dictionary. Finally, use the ```value_counts()``` function to print the counts of unique values of your new column.


    - Hint: Check the examples in the slides of Lecture 4.
    

-  use a ```for``` loop with the range of the length of ```df['Is Sole Proprietor']``` to loop through each entry of the column (Series) and create the new column 'Is Sole Proprietor (long)'. Finally, use the ```value_counts()``` function to print the counts of unique values of your new column.
    
    Hints:
    - Begin by creating an empty list to store the results, which will be referred to as 'newlist'.
    
    - Reset the index of the dataframe again to avoid any issues with index continuity.
    
    - Use a ```for``` loop to iterate through each entry of the column ```Is Sole Proprietor```. 
    
        - Within each iteration, assign the lowercase value of the entry to a new object 'newkey'.
        - Use the 'Code2Description' dictionary to find the corresponding description 'newvalue' of the 'newkey'.
        - Append the corresponding description 'newvalue' to the 'newlist'.
        
    - Finally, create a new column in the original dataset named ```Is Sole Proprietor (long)```, and assign 'newlist' to this column.

In [10]:
Code2Description = {'n': 'NotASoleProprietor', 'y': 'ASoleProprietor', 'x':'NotAnswered', 'missing':'NotAnswered'}

In [11]:
# Fill missing values with the string 'MISSING'
clean_df['Is Sole Proprietor'] = clean_df['Is Sole Proprietor'].fillna('missing')

# Method 1: use the map() function and lambda expression
# Create a new column 'Is Sole Proprietor (long)' with the 'Code2Description' dictionary
clean_df['Is Sole Proprietor (long)'] = clean_df['Is Sole Proprietor'].map(lambda x: Code2Description[x.lower()])

# Use the value_counts() function to print the counts of unique values of your new column
print(clean_df['Is Sole Proprietor (long)'].value_counts())

NotASoleProprietor    7513
ASoleProprietor       2818
NotAnswered            581
Name: Is Sole Proprietor (long), dtype: int64

In [12]:
# Method 2: use a for loop
# Create an empty list to store the results
newlist = []

# Reset the index of the dataframe
clean_df = clean_df.reset_index(drop=True)

# Use a for loop to iterate through each entry of the column 'Is Sole Proprietor'
for i in range(len(clean_df['Is Sole Proprietor'])):
    # Within each iteration, assign the lowercase value of the entry to a new object 'newkey'.
    newkey = clean_df['Is Sole Proprietor'][i].lower()
    
    # Use the 'Code2Description' dictionary to find the corresponding description 'newvalue' of the 'newkey'.
    newvalue = Code2Description[newkey]
    
    # Append the corresponding description 'newvalue' to the 'newlist'.
    newlist.append(newvalue)

# Create a new column in the original dataset named 'Is Sole Proprietor (long)', and assign 'newlist' to this column.
clean_df['Is Sole Proprietor (long)'] = newlist

# Use the value_counts() function to print the counts of unique values of your new column
print(clean_df['Is Sole Proprietor (long)'].value_counts())

NotASoleProprietor    7513
ASoleProprietor       2818
NotAnswered            581
Name: Is Sole Proprietor (long), dtype: int64

## Question 5 (10 points)

Let's now consider the column ```Healthcare Provider Taxonomy Code_1``` in the NPI dataset. Taxonomy codes are used by healthcare providers to self-identify their specialty based on which taxonomy code best matches their specialty. The Health Care Provider Taxonomy code set is a collection of unique alphanumeric codes, ten characters in length. More description can be found in [Health Care Provider Taxonomy Codes](https://healthprovidersdata.com/hipaa/codes/taxonomycodes.aspx)


The ```General Practice``` is encoded as ```208D00000X``` with detailed description in [General Practice](https://healthprovidersdata.com/hipaa/codes/Taxonomy_208D00000X.aspx). In this assignment, we treat the NPIs with taxonomy code ```208D00000X``` as doctors in primary care, and the others as specialists in second care.

Answer the following questions: 

1. How many male and female doctors served in the primary care in your state?

2. Which city has the highest number of primary-care doctors?

3. Can you create a list of specialities' taxonomy codes which includes all types of taxonomy codes of specialists and excludes the taxonomy codes of primary-care doctors (i.e., ```208D00000X```)? Print the length of this list.

In [13]:
# Filter the dataset to include only primary-care doctors
primary_care_df = clean_df[clean_df['Healthcare Provider Taxonomy Code_1'] == '208D00000X']

# 1. How many male and female doctors served in the primary care in your state?
male_doctors_count = primary_care_df[primary_care_df['Provider Gender Code'] == 'M']['Provider Gender Code'].count()
female_doctors_count = primary_care_df[primary_care_df['Provider Gender Code'] == 'F']['Provider Gender Code'].count()
print(f"Number of male primary-care doctors: {male_doctors_count}")
print(f"Number of female primary-care doctors: {female_doctors_count}")

# 2. Which city has the highest number of primary-care doctors?
city_count = primary_care_df.groupby('Provider Business Practice Location Address City Name')['NPI'].count()
highest_count_city = city_count.idxmax()
highest_count = city_count.max()
print(f"The city with the highest number of primary-care doctors is {highest_count_city} with {highest_count} doctors.")

# 3. Can you create a list of specialties' taxonomy codes which includes all types of taxonomy codes of specialists and excludes the taxonomy codes of primary-care doctors (i.e., 208D00000X)? Print the length of this list.
specialty_list = clean_df[clean_df['Healthcare Provider Taxonomy Code_1'] != '208D00000X']['Healthcare Provider Taxonomy Code_1'].unique()
print(f"List of specialties' taxonomy codes: {specialty_list}")
print(f"Length of the list: {len(specialty_list)}")

Number of male primary-care doctors: 95
Number of female primary-care doctors: 21
The city with the highest number of primary-care doctors is NEW ORLEANS with 15 doctors.
List of specialties' taxonomy codes: ['207Q00000X' '207VX0000X' '208000000X' '207VG0400X' '208200000X'
 '204E00000X' '207Y00000X' '207X00000X' '207R00000X' '207RE0101X'
 '208800000X' '207V00000X' '2085R0202X' '208600000X' '207N00000X'
 '2080P0214X' '2083X0100X' '2084P0800X' '207W00000X' '207ZP0102X'
 '207NS0135X' '207VM0101X' '207RH0003X' '2086S0129X' '207VE0102X'
 '207RG0100X' '208G00000X' '207RS0012X' '2080A0000X' '207P00000X'
 '207RR0500X' '207K00000X' '207RP1001X' '207RC0000X' '2083P0901X'
 '207RN0300X' '208C00000X' '207L00000X' '2080P0208X' '2084N0400X'
 '2080N0001X' '207RI0200X' '208100000X' '207YX0007X' '207T00000X'
 '2080P0202X' '2084P0805X' '207PE0004X' '207ZP0101X' '2085R0001X'
 '2085B0100X' '204C00000X' '208M00000X' '207ZC0500X' '2080P0203X'
 '2086S0122X' '2084P0804X' '2080P0207X' '207ZM0300X' '207YS0123X'
 '2084P2900X' '207RG0300X' '2081P2900X' '207VX0201X' '2085R0204X'
 '207ZB0001X' '207RX0202X' '2084N0402X' '207QG0300X' '207RM1200X'
 '207PE0005X' '2084A0401X' '207XX0005X' '2084P0802X' '2085N0904X'
 '207YX0905X' '2080P0201X' '2084N0600X' '207ZP0105X' '207RC0200X'
 '207PP0204X' '207LP2900X' '2085P0229X' '207QA0505X' '2086S0120X'
 '207XS0106X' '2086X0206X' '207U00000X' '2083P0500X' '2085R0205X'
 '2084F0202X' '208VP0000X' '2083P0011X' '207RA0000X' '207QA0000X'
 '2080P0210X' '2083S0010X' '207PH0002X' '2085D0003X' '207XP3100X'
 '2084P0015X' '209800000X' '207LP3000X' '207VH0002X' '2086S0102X'
 '202C00000X' '2081S0010X' '2080H0002X' '204D00000X' '207KA0200X'
 '207ZF0201X' '207QS0010X' '2080P0204X' '207YX0901X' '207SG0201X'
 '2080P0206X' '2086S0105X' '207RI0011X' '207ZC0006X' '207RI0008X'
 '207RH0002X' '207XS0117X' '2080P0205X' '207XX0801X' '207QB0002X'
 '207RC0001X' '207QA0401X' '207ND0900X' '208U00000X' '207KI0005X'
 '207ZH0000X' '2085R0203X' '208VP0014X' '207ND0101X' '207XX0004X'
 '2085N0700X' '207RH0000X' '207RB0002X' '204F00000X' '207ZN0500X'
 '207ZD0900X' '207UN0901X' '207NI0002X' '207ZP0007X' '2084D0003X'
 '202K00000X' '2080C0008X' '2086S0127X' '2084B0040X' '207RA0401X'
 '207WX0200X' '2084V0102X' '207YP0228X' '207QS1201X' '207WX0107X'
 '2084S0012X' '207RA0001X' '207VF0040X' '2085U0001X' '207PS0010X'
 '207XS0114X' '2084B0002X' '2082S0105X' '2081P0010X' '2084P0005X'
 '207PT0002X' '207WX0109X' '207UN0903X' '2088P0231X' '2083B0002X'
 '207YX0602X' '2082S0099X' '2084S0010X' '207RT0003X' '2081P0004X'
 '2083A0300X' '2084E0001X' '207QH0002X' '207ZP0213X' '202D00000X'
 '2084N0008X']
Length of the list: 181

## Question 6 (10 points)

To proceed with the analysis, we need also the referral data where the doctors are represented by NPI codes. 

- Load the referral data from the sheet named ```30days``` of the excel file ```referral.xlsx``` for any state being analyzed. 

- Add the column names (```'NPI Number1','NPI Number2','Pair Count','Bene Count','Same Day Count'```) in order to the referral dataset. 

- Print the first five rows of referral dataset.

In [14]:
# load referral data
referral_df = pd.read_excel('referral.xlsx', sheet_name='30days')

# add column names to referral dataset
referral_df.columns = ['NPI Number1', 'NPI Number2', 'Pair Count', 'Bene Count', 'Same Day Count']

# print first five rows of referral dataset
referral_df.head(5)

   NPI Number1  NPI Number2  Pair Count  Bene Count  Same Day Count
0   1518905207   1255449179          43          15               0
1   1518905207   1588614374          28          12               0
2   1518905207   1588662183          45          21               2
3   1518905207   1649292020          29          14               2
4   1518905207   1710945761          63          17               1

## Question 7 (5 points)

Compute the correlation between ```Pair Count, Bene Count, Same Day Count``` for the referral dataset.

In [15]:
# Compute correlation
correlation_matrix = referral_df[['Pair Count', 'Bene Count', 'Same Day Count']].corr()

print(correlation_matrix)

                Pair Count  Bene Count  Same Day Count
Pair Count        1.000000    0.595006        0.450707
Bene Count        0.595006    1.000000        0.586766
Same Day Count    0.450707    0.586766        1.000000

## Question 8 (15 points)

As patient privacy is of utmost importance, individual patient information is not disclosed in the referral network. Instead, Medicare processed the data to generate the network by providing only the total number of shared patients and referral claims within a 30-day period, catering to research purposes.

How can you identify and select the pairs of doctors that your are interested in? To select the desired pairs of doctors, you can inner-join the referral dataset with the doctor's information.

Hints:

- Note that, you need to merge two datasets twice, first using the ```NPI Number1``` column to merge the primary doctors' information on the referral data, and then using the ```NPI Number2``` column to merge the specialists' information.
- Inner join is the recommended join method for these merge operations.
- After each merge operation, make sure to reset the index of the resulting dataframe to avoid any potential issues with index continuity.

In [16]:
# Merge the referral data with the doctor's information using NPI Number1 column
referral_primary_df = pd.merge(referral_df, clean_df, how='inner', left_on='NPI Number1', right_on='NPI')

# Reset the index of the resulting dataframe
referral_primary_df = referral_primary_df.reset_index(drop=True)

# Merge the referral data with the doctor's information using NPI Number2 column
referral_specialist_df = pd.merge(referral_primary_df, clean_df, how='inner', left_on='NPI Number2', right_on='NPI')

# Reset the index of the resulting dataframe
referral_specialist_df = referral_specialist_df.reset_index(drop=True)

referral_specialist_df

     NPI Number1  ...  Is Sole Proprietor (long)_y
0     1477567998  ...              ASoleProprietor
1     1780663476  ...              ASoleProprietor
2     1477567998  ...           NotASoleProprietor
3     1780663476  ...           NotASoleProprietor
4     1477567998  ...           NotASoleProprietor
..           ...  ...                          ...
479   1376544106  ...           NotASoleProprietor
480   1376553792  ...           NotASoleProprietor
481   1144223108  ...              ASoleProprietor
482   1144223108  ...              ASoleProprietor
483   1699878124  ...           NotASoleProprietor

[484 rows x 39 columns]

## Question 9 (10 points)

Our objective for this analysis is to identify patterns in the bipartite graph from primary care to special care. To achieve this, we need to select out pairs of doctors that fall within this category from the entire referral network stored in the dataset. 

Hint:

- you can select the referals from primary doctors ('Healthcare Provider Taxonomy Code_1_x' is '208D00000X') to the specialists (Healthcare Provider Taxonomy Code_1_y' is in the list of specialities' taxonomy codes that you created in Question 5).

In [17]:
# select referrals from primary care doctors to specialists
primary_to_specialists = referral_specialist_df[
    (referral_specialist_df['Healthcare Provider Taxonomy Code_1_x'] == '208D00000X') &
    (referral_specialist_df['Healthcare Provider Taxonomy Code_1_y'].isin(specialty_list))
]

# print the first five rows
primary_to_specialists.head()

   NPI Number1  ...  Is Sole Proprietor (long)_y
0   1477567998  ...              ASoleProprietor
1   1780663476  ...              ASoleProprietor
2   1477567998  ...           NotASoleProprietor
3   1780663476  ...           NotASoleProprietor
4   1477567998  ...           NotASoleProprietor

[5 rows x 39 columns]

## Question 10 (5 points)

Based on your analysis of the NPIs and referral datasets, as a data analyst, what other meaningful business questions (or potential hypotheses) can you propose that could uncover valuable insights? Assume that you have unlimited support of additional data, techniques, or data manipulation skills you might need to. 

Can you propose three business questions you would like to explore further based on your study of the referral case?

In [18]:
"""
    1. How does the referral network differ between urban and rural areas?
    Are there any notable differences in terms of the types of primary care doctors who are referring patients, 
        the types of specialists they are referring to, 
        or the number of referrals being made? 
    This could help healthcare providers and policymakers better understand the unique challenges facing patients and doctors in different regions.
"""

"""
    2. Are there any primary care doctors who are referring an unusually high number of patients to specialists?
    If so, what factors might be contributing to this trend?
    Is it related to the demographics of their patient population, 
        the availability of specialists in their area, or their own medical expertise?
    This could help identify potential areas for improvement in the healthcare system, 
        such as better training for primary care doctors or improved access to specialist care.
"""
"""
    3. How do referral patterns change over time, and what factors are driving these changes? 
    For example, are there any new medical technologies or treatments that are leading to an increase in referrals to certain types of specialists?
    Are changes in insurance coverage or reimbursement policies impacting the types of specialists that patients are seeing? 
    This could help healthcare providers and policymakers stay ahead of emerging trends and make more informed decisions about the allocation of resources.
"""

'\n    3. How do referral patterns change over time, and what factors are driving these changes? \n    For example, are there any new medical technologies or treatments that are leading to an increase in referrals to certain types of specialists?\n    Are changes in insurance coverage or reimbursement policies impacting the types of specialists that patients are seeing? \n    This could help healthcare providers and policymakers stay ahead of emerging trends and make more informed decisions about the allocation of resources.\n'

## Question 11 (5 points)


Following what you did in assignment 1, you can now calculate the degree centrality of the referral network to Identify key NPIs. By reusing the code you produced in assignment 1, can you find the top 3 most important NPIs based on their degree centrality in the referral network? 

Hints:
1. Create a node list of NPIs, and extract the referral relations between pairs of NPIs as an edge array
2. Generate the adjacency matrix
4. Calculate the degree centrality
5. Select the nodes with the largest three degree centrality as the key NPIs

In [19]:
import numpy as np

# extract list of nodes from referral_specialist_df dataframe
nodes = list(set(referral_specialist_df['NPI Number1']).union(set(referral_specialist_df['NPI Number2'])))

# create dictionary mapping node to index
node_to_id = {node: i for i, node in enumerate(nodes)}

# extract edges from referral_specialist_df dataframe
edges = [(node_to_id[row['NPI Number1']], node_to_id[row['NPI Number2']]) for index, row in referral_specialist_df.iterrows()]

# generate adjacency matrix
n_nodes = len(nodes)
adj_matrix = np.zeros((n_nodes, n_nodes))
for edge in edges:
    i, j = edge
    adj_matrix[i, j] = 1
    adj_matrix[j, i] = 1

# calculate degree centrality
def calc_degree_centrality(adj_matrix):
    n_nodes = adj_matrix.shape[0]
    degree_centrality = np.zeros((n_nodes))
    for row in adj_matrix:
        degree_centrality += row
    
    degree_centrality /= (n_nodes-1)
    return degree_centrality

degree_centrality = calc_degree_centrality(adj_matrix)

# find indices of top 3 nodes by degree centrality
top3_indices = degree_centrality.argsort()[-3:][::-1]

# find corresponding nodes
top3_nodes = [nodes[i] for i in top3_indices]

print("Top 3 most important NPIs based on degree centrality:")
for i, node in enumerate(top3_nodes):
    print(f"\t{i+1}. {node}")

Top 3 most important NPIs based on degree centrality:
	1. 1073502472
	2. 1902895279
	3. 1477567998